h1{
  text-align:center;
  color:#0000ff;
}
h2{
  text-align:center;
  color:#ff00ff;
}
body{
  color:#808000;
  text-align:center;
}
background-color{
  color:#00ffff;
}
.junior{
  border-width:2px;
  border-style:solid;
  border-color:#000000;
  background-color:#000000;
}
  
