p{
  text-font:32px;
  color:#008080;
  text-align:center;
}
h3{ 
  text-align:center;
  color:#8b5742;
  }
h1{
  text-align:center;
  color:#0000ff;
}
h2{
  text-align:center;
  color:#ff00ff;
}
body{
  color:#808000;
  text-align:center;
  bacground-color:#000080;
}
background-color{
  color:#00ffff;
}
.junior{
  border-width:2px;
  border-style:solid;
  border-color:#000000;
  background-color:#000000;
}
  
